@font-face {
    font-family: antobe;
    src: url(./fonts/Antobe\ Free.ttf);
}
@font-face {
    font-family: daily;
    src: url(./fonts/BigDailyShort-LightItalic.ttf);
}
@font-face {
    font-family:balva ;
    src: url(./fonts/Balava_Demo.ttf);
}
@font-face {
    font-family:balvascript ;
    src: url(./fonts/BalavaScript_Demo.ttf);
}
@font-face {
    font-family: francode;
    src: url(./fonts/francode.ttf);
}
@font-face {
    font-family:sameday ;
    src: url(./fonts/Sameday.ttf);
}
@font-face {
    font-family: love;
    src: url(./fonts/Loving\ Moment.ttf);
}
@font-face {
    font-family: wayfind;
    src: url(./fonts/WayfinderCFThin.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #101e22;
}
html,body{
    width: 100%;
    height: 100%;
}
*::-webkit-scrollbar{
    display: none;
}
#name{
    color: rgb(215, 215, 215);
    position: absolute;
    top: 10%;
}
#seconddesc{
    color: white;
}
#ftext>h3{
    position: absolute;
    right: 15%;
    width:300px;
    line-height: 1.2;
    color: rgb(237, 194, 162);
    font-family: gilroy;
    font-weight: 200;

}
#loader{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#bigtext{
    width: fit-content;
    height: fit-content;
    position: relative;
}
#bigtext>h1{
    font-family: wayfind;
    font-size: 5vw;
    line-height: 4.8vw;
    color: rgb(255, 207, 148);
}
#bigtext>h2{
    font-family: wayfind;
    line-height: 4.8vw;
    color: antiquewhite;
    position: absolute;
    right: 0;
    letter-spacing: 2px;
    font-weight: 400;
}
#main{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
}
#first{
    width: 100%;
    height: 100vh;
    position: relative;
}
#nav{
    width: 100%;
    height: 200px;
    padding: 0 30px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#left{
    height: 100%;
}
#left>img{
    width: 200px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    cursor: pointer;
    position: relative;
}
#left>img:hover{
    transform: scale(1.2);
}
#right{
    width: 250px;
    gap: 30px;
    height: 85%;
    align-items: center;
    display: flex;  
}
#right>a{
    text-decoration: none;
    color: #fff;
    font-family: sameday;
    letter-spacing: 2px;
    font-size: 20px;
}
#text{
    color: #fff;
    position: relative;
    width: fit-content;
    /* line-height: 90px; */
    position: relative;
    left: 10%;
    top: 10%;
}
#text>h5{
    font-family: antobe;
    font-size: 30px;
}
#text>h1{
    font-family: wayfind;
    font-size: 10vw;
    letter-spacing: 5px;
    margin-bottom: 15px;

}
#text>h2>span{
    color: rgb(255, 207, 148);
}
#text>h2{
    width: 40%;
    font-family: antobe;
    font-size: 30px;
}
#second{
    width: 100%;
    height: 100vh;
    position: relative;
}
#stext>h1{
    font-size: 8vw;
    color: #fff;
    font-family: antobe;
    width: fit-content;
}
#stext{
    position: relative;
    left: 10%;
    top: 12%;
    width: fit-content;
}
#textaboutme{
    width: 60%;
    text-align: justify;
    position: relative;
    top: 19%;
    left: 14%;
    color: #fff;
    font-size: 1.2vw;
}
#textaboutme>h1{
    font-family: antobe;
    font-weight: 300;
}
#textaboutme>h1>span{
    color: rgb(255, 207, 148);
    font-weight: 700;
}
#smile{
    color: rgb(255, 207, 148);
    position: absolute;
    margin-top: 8px;
    margin-left: 20px;
}
#third{
    width: 100%;
    height: 100vh;
    display: flex;
}
#ttext>h1{
    font-size: 8vw;
    color: #fff;
    font-family: antobe;
    width: fit-content;
}
#ttext{
    position: absolute;
    left: 10%;
    bottom: -2%;
    width: fit-content;
}
.left{
    width: 50%;
    height: 100%;
    position: relative;
}
.ltext{
    position: relative;
    left: 20%;
    width: 80%;
    top: 15%;
}
.ltext>h1>a{
    color: rgb(255, 207, 148);
    margin-bottom: 10px;
    font-family: sameday;
    text-decoration: none;
}
.ltext>h3{
    width: 60%;
    text-align: justify;
    color: #fff;
    font-family: antobe;
    font-weight: 500;
}
.right{
    width: 50%;
    height: 100%;
    position: relative;
}
.right .img{
    width: 110%;
    height: 65%;
    position: absolute;
    overflow: hidden;
    left: -25%;
    top: 8%;
    border-radius: 30px;
}
.img>img{
    width: 100%;
    height: 100%;
}
.img>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
#ftext>h1{
    font-size: 8vw;
    color: #fff;
    font-family: antobe;
    width: fit-content;
}
#ftext{
    position: absolute;
    z-index: 99;
    right: 20%;
    bottom: -10%;
    width: fit-content;
}
#fourth{
    width: 100%;
    height: 100vh;
    display: flex;
    color: white;
}
#fleft{
    width: 50%;
    height: 100%;
    position: relative;
}
#fleft .img2{
    width: 110%;
    height:65%;
    border-radius: 30px;
    position: absolute;
    overflow: hidden;
    z-index: 99;
    left: 10%;
    top: 6%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    background-color: red;
}
.img2>img{
    width: 100%;
    height: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}
.img2>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
#yewala{
    height: 250px;
    width: 380px;
    position: relative;
    right: -30%;
    font-family: gilroy;
    font-weight: 200;
    top: 15%;
    color: rgb(99, 99, 196);
}
#footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    
}
#leftup>a{
    text-decoration: none;
    color: white;
    padding: 1vw;
    margin: 2vw;
    font-size: 34px;
}
#rightup>a{
    text-decoration: none;
    color: white;
    padding: 1vw;
    margin: 2vw;
    font-size: 34px;
    position: relative;
    top:150%;
}








/* RESPONSIVE CODE */
@media(max-width:500px){
    #nav{
        padding: 0 0 ;
        height: 130px;
    }
    #text>h2{
        width: 60%;
    }
    #first{
        height: 50vh;
    }
    #left>img{
        width: 135px;
    }
    #right>a{
        font-size: 20px;
    }
    #text{
        top: 15%;
    }
    #bigtext>h1{
        font-size: 12vw;
        line-height: 12.8vw;
    }
    #bigtext>h2{
        margin-top: 15px;
        right: -20px;
    }
    #text>h2{
        font-size: 20px;
        margin-top: 5px;
    }
}